<h1>Add a review to <% retaurant.name %></h1>

<%= form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :notation %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<p><%= link_to "Back to the list", restaurants_path  %></p>

